/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/04/2017, 07:00:04 PM
    Author     : Jeferson
*/
body{
    background-image: url(../Imagenes/fondoGeneral.jpg);
}
.titulo{    
    text-align: center;
    font-weight: bold;
    font-size: 13pt;
}
.table{
    width: 60%;
    margin-top: 5%;
    font-size: 30px;
}
